/* Main syles for application */

/* vars */

$break-small: 320px;
$break-med: 767px;
$mainColor: #009688;
$white : #ffffff;

/* global styles */

html, body {
  background: url("../img/super_herobg.png");
}

.zero-pading{
  padding: 0;
}

/* side class styles */

.side {
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  border: 1px solid #000;
  padding: 0;

  h1 {
    color: #ffffff;
    background: $mainColor;
    margin: 0;
    padding: 10px;
    font-weight: $font-normal;
    @media screen and (max-width: $break-med) {
        font-size: 28px;

      }
    }

  ul {
    padding: 0px;
    li {
        list-style: none;
        font-size: 25px;
        margin: 0;
        padding: 10px;
        height: 50px;
      @media screen and (max-width: $break-med) {
        font-size: 15px;

      }
      a {
        color: #ffffff;
      }
    }
  }
 form{
   input{
      border-radius: 0px;
   }
   button{
     width: 100%;
     background-color: $mainColor;
     border: 0px;
     border-radius: 0;
     font-size: 25px;
   }

 }

}

/* detail class styles */

.detail{
  background: rgba(255, 255, 255, 0.5);
  height: 100%;
  @media screen and (max-width: $break-med) {
   padding-left: 0px;
    padding-right: 0px;
  }

  .person {
    margin-top: 64px;
    margin-bottom: 55px;
    @media screen and (max-width: $break-med) {
      margin-top: 0px;
      h1{
        margin-top: 0px;
        background-color: $mainColor;
        margin-bottom: 20px;
        padding:10px;
        color: $white;
      }
    }
    .wrapper {
      margin-top: 20px;

    }
  }

  img{
    max-height: 300px;
  }
}




